[submodule "AutoDeeplab"]
	path = AutoDeeplab
	url = ./AutoDeeplab/
[submodule "SMP"]
	path = SMP
	url = ./SMP/
[submodule "cleanlab"]
	path = cleanlab
	url = ./cleanlab/
[submodule "RAdam"]
	path = RAdam
	url = ./RAdam
[submodule "lookahead.pytorch"]
	path = lookahead.pytorch
	url = ./lookahead.pytorch/
